.item {
  display: flex;
  gap: 1rem;
  align-items: center;
  list-style: none;
}
.buttons {
  margin-left: auto;
  display: flex;
  gap: 0.5rem;
}

@media (max-width: 480px) {
  .item {
    flex-direction: column;
    align-items: flex-start;
  }
  .buttons {
    margin-left: 0;
    width: 100%;
    justify-content: flex-end;
  }
}
